{erl_opts, [debug_info]}.
{deps, []}.
{plugins, [
    {relflow, ".*", {git, "https://github.com/RJ/relflow.git", {branch, "master"}}}
]}.

{relx, [
    {release, {erlmarkov,
    "20160204.110754" %% relflow-release-version-marker
    }, [erlmarkov]},
        {vm_args, "./vm.args"},
        {sys_config, "./sys.config"},
        {dev_mode, false},
        {include_erts, false},
        {extended_start_script, true}
]}.

%%{profiles, [{prod, [{relx, [{dev_mode, false},
%%                           {include_erts, true}]},
%%                   {erl_opts, [no_debug_info,
%%                               warnings_as_errors]}
%%                  ]
%%           },
%%           {native, [{erl_opts, [{native, o3}]}]},
%%           {test, [{deps, []},
%%                   {erl_opts, [debug_info]}]}
%%          ]
%%}.
